<!DOCTYPE html>
<html>
<head>
    <title>go-wasm-http-server hello with state demo</title>
    <script>
        navigator.serviceWorker.register('sw.js')

        async function hello() {
            const name = document.querySelector("#name").value
            const res = await fetch('api/hello', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name })
            })
            const { message } = await res.json()
            alert(message)
        }
    </script>
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
</head>
<body>
    <label for="name">Name: </label>
    <input id="name" name="name" value="World" hx-post="api/hello2" hx-trigger="input" hx-target="#htmx_target" style="width:100%">
    <button onclick="hello()">Hello</button>
    <div id="htmx_target"></div>


    <button hx-get="api/get_list" hx-trigger="click" hx-target="#htmx_list_target">Load Posts</button>
    <div id="htmx_list_target"></div>

<form hx-post="api/calc" hx-target="#expr_result">
    <input name="a" type="number" value="10" />
    <input name="b" type="number" value="20" />
    <input name="expr" type="text" value="a * b" />

    <input type="submit"></input>
</form>
<div id="expr_result"></div>
</body>
</html>